In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.model_selection import train_test_split, GridSearchCV
import warnings
warnings.filterwarnings('ignore')

In [2]:
import seaborn as sns
df=sns.load_dataset("mpg")

In [3]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [4]:
df.shape

(398, 9)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [6]:
df.name.nunique()

305

In [7]:
df.drop(["name"], axis=1, inplace=True)

In [8]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
dtype: int64

In [9]:
df.dropna(inplace=True)

In [10]:
df.isnull().sum().any()

False

In [11]:
df.shape

(392, 8)

In [12]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,18.0,8,307.0,130.0,3504,12.0,70,usa
1,15.0,8,350.0,165.0,3693,11.5,70,usa
2,18.0,8,318.0,150.0,3436,11.0,70,usa
3,16.0,8,304.0,150.0,3433,12.0,70,usa
4,17.0,8,302.0,140.0,3449,10.5,70,usa

In [13]:
from datetime import datetime

In [14]:
today=datetime.today()

In [15]:
this_year=today.year
this_year

2021

In [16]:
df["age"]=this_year-(1900+df.model_year)

In [17]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,age
0,18.0,8,307.0,130.0,3504,12.0,70,usa,51
1,15.0,8,350.0,165.0,3693,11.5,70,usa,51
2,18.0,8,318.0,150.0,3436,11.0,70,usa,51
3,16.0,8,304.0,150.0,3433,12.0,70,usa,51
4,17.0,8,302.0,140.0,3449,10.5,70,usa,51

In [18]:
df.drop(["model_year"], axis=1, inplace=True)

In [19]:
df.head()

    mpg  cylinders  displacement  horsepower  weight  acceleration origin  age
0  18.0          8         307.0       130.0    3504          12.0    usa   51
1  15.0          8         350.0       165.0    3693          11.5    usa   51
2  18.0          8         318.0       150.0    3436          11.0    usa   51
3  16.0          8         304.0       150.0    3433          12.0    usa   51
4  17.0          8         302.0       140.0    3449          10.5    usa   51

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   origin        392 non-null    object
 7   age           392 non-null    int64
dtypes: float64(4), int64(3), object(1)
memory usage: 27.6+ KB

In [21]:
df2=df.copy()

In [22]:
df=pd.get_dummies(df, drop_first=True)

In [23]:
df2=pd.get_dummies(df) # try the model with df2 to see the difference

In [24]:
df.sample(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,age,origin_japan,origin_usa
338,27.2,4,135.0,84.0,2490,15.7,40,0,1
306,28.8,6,173.0,115.0,2595,11.3,42,0,1
198,33.0,4,91.0,53.0,1795,17.4,45,1,0
90,12.0,8,429.0,198.0,4952,11.5,48,0,1
348,37.7,4,89.0,62.0,2050,17.3,40,1,0
54,35.0,4,72.0,69.0,1613,18.0,50,1,0
243,21.5,3,80.0,110.0,2720,13.5,44,1,0
119,20.0,4,114.0,91.0,2582,14.0,48,0,0
227,19.0,6,225.0,100.0,3630,17.7,44,0,1
147,24.0,4,90.0,75.0,2108,15.5,47,0,0

In [25]:
X=df.drop(["mpg"], axis=1)
y=df["mpg"]

In [26]:
X.head()

,cylinders,displacement,horsepower,weight,acceleration,age,origin_japan,origin_usa
0,8,307.0,130.0,3504,12.0,51,0,1
1,8,350.0,165.0,3693,11.5,51,0,1
2,8,318.0,150.0,3436,11.0,51,0,1
3,8,304.0,150.0,3433,12.0,51,0,1
4,8,302.0,140.0,3449,10.5,51,0,1

In [27]:
y.head()

0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
Name: mpg, dtype: float64

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size = 0.2, random_state = 42)

In [29]:
def eval_metrics(actual, pred):
    rmse = np.sqrt(mean_squared_error(actual, pred))
    mae = mean_absolute_error(actual, pred)
    mse = mean_squared_error(actual, pred)
    score = r2_score(actual, pred)
    return print("r2_score:", score, "\n","mae:", mae, "\n","mse:",mse, "\n","rmse:",rmse)

In [30]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(X_train,y_train)

LinearRegression()

In [31]:
lm.intercept_

80.00010609150033

In [32]:
lm.coef_

array([-0.34210131,  0.01920596, -0.0216204 , -0.00642267,  0.04219811,
       -0.79716146,  0.33046978, -2.87549946])

In [33]:
coeff_parameter = pd.DataFrame(lm.coef_, X.columns, columns=['Coefficient'])
coeff_parameter

              Coefficient
cylinders       -0.342101
displacement     0.019206
horsepower      -0.021620
weight          -0.006423
acceleration     0.042198
age             -0.797161
origin_japan     0.330470
origin_usa      -2.875499

In [34]:
y_pred=lm.predict(X_test)

In [35]:
y_pred_train=lm.predict(X_train)

In [36]:
eval_metrics(y_test, y_pred)

r2_score: 0.7922774714022585
 mae: 2.4619996980661467
 mse: 10.602279011688347
 rmse: 3.2561140968473983

In [37]:
eval_metrics(y_train, y_pred_train)

r2_score: 0.8286865575852228
 mae: 2.5445826417298005
 mse: 10.809834360243096
 rmse: 3.287831254830925

In [38]:
my_dict={"Actual":y_test, "Pred":y_pred}
compare=pd.DataFrame(my_dict)

In [41]:
compare.sample(10)

     Actual       Pred
115    15.0  14.042393
102    26.0  29.598336
210    19.0  24.902464
197    29.0  31.133037
47     19.0  17.407131
356    32.4  33.144070
375    36.0  35.887856
296    27.4  26.354141
183    25.0  29.690886
147    24.0  28.387192